body {
  font-family: "Avenir Next";
}


.main img{
    float: left;
    height:800px;
    width: 600px;
    padding-right: 30px;
}

.header {
  background-color: #0eee2f;
  color: rgb(11, 127, 228);
  height: 230px;
  width:2800px;
}

.header-logo {
  font-size: 120px;
  padding: 20px 40px;
}

.header-logo span{
    color:rgb(231, 113, 9)
   
}

.main {
  padding: 100px 80px;
  
}

.profile {
  height: 800px;
  
}

.profile h1{
    font-size: 100px;
}

.profile ul{
    padding-top:s80px;
    font-size: 60px;
    list-style: none;
}

.koremade{
    height: 600px;
}

.koremade h1{
    font-size: 100px;
    width:1300px ;
    border-bottom: 10px solid rgb(20, 8, 236);
    
}

.koremade p{
    font-size: 60px;
    line-height: 30px;
}

.osusume{
    height: 2000px;
}

.osusume h1{
    font-size: 100px;
    width:1300px ;
    border-bottom: 10px solid rgb(20, 8, 236);
}

.osusume p{
    font-size: 60px;
    line-height: 30px;
}

.osusume img{
    height: 1306px;px;
    width: 1740px;
}
